
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="padding-top:25%; margin-bottom:30%">
            <a href="/Exam/Create" class="btn btn-success btn-lg btn-block">Sınav oluştur</a>
            <a href="/Exam/Index" class="btn btn-primary btn-lg btn-block">Rasgele sınav</a>
            <a href="/Exam/Delete" class="btn btn-danger btn-lg btn-block">Sınav sil</a>
        </div>
    </div>
</div>

